$background-image: url("../img/m-h-night.jpg");
$button-color: #ffe703;
$heading-color: #fff;
$text-color:#fff;
$header-wrap-before: red;
$logo-color: #fff;
$font-family-day-night:'Fresca', sans-serif;
$section-color: #fff;
$section-background-color: #090517d4;
$linear-gradient: linear-gradient(to left,  #e02c90, #dec666);
$logo-color-footer: #fff;
$section-card-background-color:#515c73;
$section-banner-text-color:#fff;
$footer-background-color:#515c73;
$before-opacity:0.35;
