$background-image: url("../img/m-h-day.jpg");
$button-color: #699900;
$heading-color: #000;
$text-color:#000;
$header-wrap-before: #14a0c7;
$logo-color: #000;
$section-color: #000;
$section-background-color: #fff;
$font-family-day-night:'Source Sans Pro', sans-serif;
$linear-gradient: linear-gradient(to left,  #305ecf, #699903);
$logo-color-footer: #AFB3C0;
$section-card-background-color:#000;
$section-banner-text-color:#AFB3C0;
$footer-background-color:#000;
$before-opacity: 1;
